@import '../Fonts.scss';
@import '../Width.scss';

.Card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}

.CardContainer {
    display: flex;
    flex-direction: row;
    flex: 1 0 50%;
    order: 1;
}

.CardActionContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    align-items: flex-end;
    order: 2;
}

.CardChildren {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    order: 3;
}

.CardImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 0 1rem;
}

.CardImage {
    height: 4rem;
    width: 4rem;
}

.CardImage.Filter {
    filter: brightness(0) invert(1);
}

.CardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CardTitle,
.CardDescription,
.CardDate {
    margin: 0;
    color: white;
}

.CardTitle {
    font-family: $font-secondary;
}

.CardAction {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    height: calc(1.8rem + 2px);
    width: 8rem;
    margin: 0.25rem;
    color: white;
}

.CardAction:hover {
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

@media only screen and (max-width: $breakpoint-l) {
    .Card {
        padding: 1rem;
    }

    .CardImageContainer {
        padding: 0 1rem 0 0;
    }

    .CardActionContainer {
        flex-direction: row;
        order: 4;
        margin-top: 1rem;
        justify-content: space-between;
    }
}
