@import './Colors.scss';
@import './Fonts.scss';
@import './Width.scss';

.About {
    display: flex;
    flex-direction: row;
    margin: 4rem 0 4rem 0;
}

.About .Personal {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 0 3rem 0 0;
}

.Personal img {
    object-fit: cover;
    border-radius: 1rem;
    height: 16rem;
    width: 16rem;
}

.AboutTitle {
    font-family: $font-secondary;
    font-size: 3rem;
    color: $color-accent;
}

.Description {
    font-size: 1rem;
    line-height: 2rem;
}

.AboutSubTitle {
    font-family: $font-secondary;
    font-size: 2rem;
    color: $color-accent;
}

.SkillsType {
    margin: 1rem 0px 8px 0px;
    display: block;
    font-family: $font-secondary;
    font-size: 1rem;
    color: $color-text-primary;
}

.Skill {
    font-size: 0.75rem;
    display: inline-block;
    position: relative;
    padding: 0 16px 0 16px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    background-color: rgba(#000000, 0.1);
    margin: 8px 8px 8px 0px;
}

.Skill svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.Skill span {
    margin-left: 2rem;
}

@media only screen and (max-width: $breakpoint-m) {
    .About {
        margin: 0 0 0 0;
    }

    .About .Personal {
        width: calc(100vw - 3rem);
        height: calc(100vw - 3rem);
        padding: 0 0 0 0;
        margin: 0 0 2rem 0;
    }

    .About .Personal img {
        width: 100%;
        height: 100%;
    }

    .About {
        flex-direction: column;
    }
}
