@import './Colors.scss';
@import './Fonts.scss';
@import './Width.scss';

.Column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.DoubleColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.About {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.AboutContainer {
    padding-left: 4rem;
}

.AboutTitle {
    font-family: $font-secondary;
    font-size: 3rem;
    color: $color-accent;
    margin: 2rem 0px 0px 0px;
}

.Description {
    font-size: 1rem;
    line-height: 2rem;
}

.AboutSubTitle {
    font-family: $font-secondary;
    font-size: 2rem;
    color: $color-accent;
}

.SkillsType {
    margin: 1rem 0px 8px 0px;
    display: block;
    font-family: $font-secondary;
    font-size: 1rem;
    color: $color-text-primary;
}

.Skill {
    font-size: 0.75rem;
    display: inline-block;
    position: relative;
    padding: 0 16px 0 16px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 1rem;
    background-color: rgba(#000000, 0.1);
    margin: 8px 8px 8px 0px;
}

.Skill svg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.Skill span {
    margin-left: 2rem;
}

.Personal {
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
}

.Personal img {
    height: auto;
    width: 100%;
    border-radius: 1rem;
}

@media only screen and (min-width: $breakpoint-m) {
    .Column {
        flex: 1;
    }

    .DoubleColumn {
        flex: 2;
    }
}

@media only screen and (max-width: $breakpoint-m) {
    .Personal {
        max-width: 100vw;
        max-height: 100vw;
        width: 100%;
    }

    .Personal img {
        margin-top: -25%;
    }

    .AboutContainer {
        padding-left: 0px;
    }
}