@import './Fonts.scss';

.ExperienceCard {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}

.ExperienceCardContainer {
    display: flex;
}

.ExperienceCardImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 0 1rem;
}

.ExperienceCardImage {
    filter: brightness(0) invert(1);
    height: 4rem;
    width: 4rem;
}

.ExperienceCardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ExperienceCardTitle,
.ExperienceCardDescription,
.ExperienceCardDate {
    margin: 0;
    color: white;
}

.ExperienceCardTitle {
    font-family: $font-secondary;
}

.ExperienceCardActionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.ExperienceCardAction {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    height: calc(1.8rem + 2px);
    width: 8rem;
    margin: 0.25rem;
    color: white;
}

.ExperienceCardAction:hover {
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

.Title > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ExperienceContainer > div > div {
    padding-left: 1rem;
    margin-bottom: 8px;
    border-right-width: 8px;
}
