@import './Fonts.scss';
@import './Width.scss';

.ExperienceCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
}

.ExperienceCardContainer {
    display: flex;
    flex-direction: row;
    flex: 1 0 50%;
    order: 1;
}

.ExperienceCardActionContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    align-items: flex-end;
    order: 2;
}

.ExperienceCardChildren {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    order: 3;
}

.ExperienceCardImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 0 1rem;
}

.ExperienceCardImage {
    filter: brightness(0) invert(1);
    height: 4rem;
    width: 4rem;
}

.ExperienceCardTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ExperienceCardTitle,
.ExperienceCardDescription,
.ExperienceCardDate {
    margin: 0;
    color: white;
}

.ExperienceCardTitle {
    font-family: $font-secondary;
}

.ExperienceCardAction {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    height: calc(1.8rem + 2px);
    width: 8rem;
    margin: 0.25rem;
    color: white;
}

.ExperienceCardAction:hover {
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

@media only screen and (max-width: $breakpoint-m) {
    .ExperienceCardImageContainer {
        padding: 0 2rem 0 0;
    }

    .SophosChild {
        margin: 1rem 0 0.5rem 5rem !important;
    }

    .ExperienceCardActionContainer {
        flex-direction: row;
        order: 4;
        margin-top: 1rem;
        justify-content: space-between;
    }
}
