@import './Colors.scss';

.Header {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.HeaderLeft .HeaderNavLink {
    margin: 0px 16px 0px 0px;
}

.HeaderNavLink {
    font-size: 0.75rem;
    line-height: 50px;
    color: $color-primary;
}

.HeaderNavLink:hover {
    color: $color-accent !important;
}

.HeaderNavLink:visited {
    color: $color-primary;
}

.IsActive .HeaderNavLink {
    color: $color-accent;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
