@import './Colors.scss';
@import './Width.scss';

.Body {
    padding: 32px 0px;
}

.Preface {
    font-family: 'Noticia Text';
    font-size: 3rem;
    font-weight: 900;
    color: $color-text-primary;
    margin: 64px 0px 64px 0px;
    width: 75%;
    text-align: left;
}

@media only screen and (max-width: $breakpoint-m) {
    .Preface {
        font-size: 2.5rem !important;
    }
}
