@import './Colors.scss';
@import './Fonts.scss';
@import './Width.scss';

.Preface {
    display: flex;
    flex-direction: row;
    margin: 4rem 0 4rem 0;
}

.PrefaceProfile {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    // justify-content: center;
    padding: 0 3rem 0 0;
}

.PrefaceProfile img {
    object-fit: cover;
    border-radius: 1rem;
    height: 16rem;
    width: 16rem;
}

.PrefaceText {
    padding: 0 0 2rem 0;
}

.PrefaceText > span,
.PrefaceText > a {
    font-family: $font-secondary;
    font-size: 3rem;
    color: $color-text-primary;
    text-align: left;
}

.ExperienceContainer {
    display: flex;
    flex-direction: column;
}

.ExperienceContainer button {
    border-style: none;
    background: none;
    color: $color-primary;
    font-family: $font-primary;
    padding: 0;
    text-align: left;
    font-size: 1rem;
}

.ExperienceContainer button:hover{
    color: $color-accent;
    cursor: pointer;
}

.Details > p {
    line-height: 1rem;
    margin: 0.4rem 0;
    color: $color-text-secondary;
}

.ExperienceContainer > div > p {
    font-family: $font-secondary;
    font-size: 2rem;
    color: $color-accent;
    margin-bottom: 0;
}

.Title > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ExperienceContainer > div > div {
    padding-left: 1rem;
    margin-bottom: 8px;
    border-right-width: 8px;
}

.Title {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem 1rem 1rem;
}

.Title > div > img {
    height: 4rem;
    width: 4rem;
    padding-right: 1rem;
}

.Title > div > p {
    margin: 0;
}

.Details > p:nth-child(1) {
    color: $color-text-primary;
}

.Title > div > p:nth-child(1) {
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    color: $color-text-primary;
}

.Title > div > p:nth-child(2),
.Title > div > p:nth-child(3) {
    font-family: $font-primary;
    font-size: 1rem;
    color: $color-text-secondary;
}

.Title > div > p:nth-child(4) {
    font-family: $font-primary;
    font-size: 1rem;
    color: $color-text-primary;
}

.Title > div > p:nth-child(4):hover {
    font-family: $font-primary;
    font-size: 1rem;
    color: $color-accent;
    cursor: pointer;
    text-decoration: underline;
}

.Professional .Details:nth-of-type(n+3)::before {
    content: "";
    position: absolute;
    height: 3rem;
    width: 2px;
    background-color: $color-text-secondary;
    margin-left: calc(-3rem - 1px);
    margin-top: -4rem;
}

.Professional .Details::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: $color-text-secondary;
    margin-left: -3.25rem;
    margin-top: -4.25rem;
    border-radius: 50%;
}

.Details {
    flex-direction: column;
    padding-left: 6rem;
    padding-bottom: 0.25rem;
}

@media only screen and (max-width: $breakpoint-m) {
    .Preface {
        margin: 0 0 0 0;
    }

    .PrefaceProfile {
        display: none;
    }

    .ExperienceContainer > div > div {
        padding: 0 1rem 0 0;
    }

    .Title {
        padding: 1rem 1rem 1rem 0;
    }

    .Details {
        padding-left: 5rem;
    }
}
