@import './Colors.scss';
@import './Width.scss';

.SocialIcon {
    display: inline-block;
    margin: 0px 32px 0px 0px;
}

@media only screen and (max-width: $breakpoint-m) {
    .PrefaceBreak {
        display: none;
    }

    .SocialWrapper {
        margin: 0px 0px 64px 0px;
    }
}