@import './Width.scss';

.SocialIcon {
    display: inline-block;
    margin: 0 2rem 0 0;
}

@media only screen and (max-width: $breakpoint-m) {
    .PrefaceBreak {
        display: none;
    }

    .SocialWrapper {
        margin: 0 0 1rem 0;
    }
}
