.App {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 64px 0px 64px;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Header, .Footer {
  display: flex;
}

.Container {
  display: flex;
  flex-grow: 1;
}
